global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80
    default_backend httpbin_backend

backend httpbin_backend
    server httpbin httpbin.org:443 ssl verify none
